block content

  .page-header
    h1 Create event
  .well.bs-component
    form.form-horizontal(action="/event/add", id='add_event', method='POST')
      .form-group.form-group-material-indigo
        .col-sm-offset-2.col-sm-8
          .time
            select.form-control(name="day")
              option Today
              option Yesterday
              option Another day
          .time
            select.form-control(name="time")
              option right now
              option at another time
      .form-group.form-group-material-indigo
        .col-sm-offset-2.col-sm-8.well(id="detail_editor")
          include editor
        input(id="detail", name="detail", type="hidden")
      .form-group.form-group-material-indigo
        .col-sm-offset-2.col-sm-8
          input.form-control.floating-label(
            type='text', name='labels', id='labels', placeholder='Labels')
      .form-group.form-group-material-indigo
        .col-sm-offset-2.col-sm-8
          button.btn.btn-success(type='submit')
            span.ion-person-add
            | Add event
