block content
  .page-header
    h1 Welcome
  .container.well.
    Life is meant to be remembered so create an account and sign in to start recording your life privately and securely.
    We believe you should be able record the events of your life with technology even if you don't want to share it
    with the world on a social network. Enjoy Life.
