block content
  .container.welcome-container
    .col-lg-6.col-md-6.col-sm-6.col-lg-offset-3
      h1 Life
      p Privately record your memories
    .col-lg-6.col-md-6.col-sm-6.col-lg-offset-3
      .well
        p.
          Life is a place for you to write down whatever you want without sharing it on
          a social network to help you remember everything that you've done. Your notes
          and memories that you post of Life are never shared with anyone, and are stored
          encrypted on our servers.
        p.
          Life also connects to you with integrations such as Dropbox to automatically
          record the events in your life. Create an account and sign in to begin recording
          your life privately and securely.
        div.text-right
          a.btn.btn-material-indigo.btn-primary(href="/user/create") Create account
          a.btn.btn-material-indigo.btn-primary(href="/user/login") Login
