doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/external/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/external/ripples.min.css')
    link(rel='stylesheet', href='/stylesheets/external/material-wfont.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title #{title} | Life

    meta(property="og:title" content=title)

  body
    include partials/navbar

    include partials/flash

    .container
      block content

    include partials/footer

    include partials/analytics

    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/external/bootstrap.min.js')
    script(src='/javascripts/external/material.min.js' )
    script(src='/javascripts/external/ripples.min.js' )
    script(src='/javascripts/bundle.js' defer)
