doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/external/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/external/bootstrap-tokenfield.min.css')
    link(rel='stylesheet', href='/stylesheets/external/tokenfield-typeahead.min.css')
    link(rel='stylesheet', href='/stylesheets/external/ripples.min.css')
    link(rel='stylesheet', href='/stylesheets/external/material-wfont.min.css')
    link(rel='stylesheet', href='/stylesheets/external/snackbar.min.css')

    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-navigation.css')
    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-editor.css')
    link(rel='stylesheet', href='/stylesheets/external/svg-sprite/svg-sprite-content.css')

    link(rel='stylesheet', href='/stylesheets/less_main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title #{title} | Life

    meta(property="og:title" content=title)

  body
    .mega-container.side-effect
      include partials/navbar
      .container.page-container
        block content

      include partials/footer

    include partials/analytics

    script(src='//code.jquery.com/jquery-2.1.1.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js')
    script(src='/javascripts/external/bootstrap.min.js')
    script(src='/javascripts/external/wysihtml-toolbar.min.js')
    script(src='/javascripts/external/editor_parser_rules.js')
    script(src='/javascripts/external/bootstrap-tokenfield.min.js')
    script(src='/javascripts/external/material.min.js')
    script(src='/javascripts/external/ripples.min.js')
    script(src='/javascripts/external/snackbar.min.js')
    script(src='/javascripts/bundle.js', defer)

    include partials/flash
