body {
  padding: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

div#editor {
    min-height: 500px;
}

.time {
    display: inline-block;
    padding-right: .75em;
}

.selector {
    display: inline-block;
    border-bottom: 0;
}
