html {
    position: relative;
    background-color: #eeeeee;
}

body {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    height: initial;
}

a {
    color: #3f51b5;
}

footer {
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div#editor {
    min-height: 50px;
}

.time {
    display: inline-block;
    padding-right: .75em;
}

.selector {
    display: inline-block;
    border-bottom: 0;
}

.header-tile {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.event-date {
    color: #888888;
    font-style: italic;
}

div#timeline-bar {
    position: absolute;
    width: 8px;
    height: 100%;
    left: -15px;
    top: 20px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,
        rgba(159,159,159,1) 10%,rgba(159,159,159,1) 90%,rgba(238,238,238,1) 100%
    );
}

div.event-header {
    color: #888888;
    float: right;
    cursor: pointer;
    font-size: 14pt;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: 30px;
    display: inline-block;
}

.event-header .mui-icon {
    padding: 5px;
    border-radius: 16px;
}

.event-header .mui-icon:hover {
    background-color: #eeeeee;
}

.submit-button {
    margin: 0 0 0 .5em;
}

.navigation-button {
    height: 36px;
    font-size: 18pt;
    text-align: center;
    padding: 0 5px;
}

.text-navigation-button {
    line-height: 36px;
    text-transform: none;
    font-size: 11pt;
}

.navigation-button .mui-icon {
    color: #333;
    line-height: 36px;
}

.float-right {
    float: right;
}

div.tokenfield.focus {
    box-shadow: none;
}

input#labels-tokenfield {
    box-shadow: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    min-height: 0;
}

div.nav-buttons-left-side {
    width: 50%;
    display: inline-block;
    text-align: left;
}

div.nav-buttons-right-side {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.btn.small-btn {
    padding-left: 1em;
    padding-right: 1em;
}

.dropdown-menu.small-menu {
    min-width: 0;
}

/* Integration Modules */
.module {
    width: 200px;
}

.module img {
    width: inherit;
}

.module.module-inactive {
    cursor: pointer;
}

/* Dropbox color from: https://www.dropbox.com/branding */
.dropbox-module {
    background-color: #007ee5;
    border-radius: 3px;
    border: 1px solid #eceded;
}

.app-navigation {
    margin-top: 10px;
}

.well.well-sm.controls-well {
    margin-top: 10px;
}

.well.well-sm.filter-field-well {
    margin-bottom: 0;
}

.filter-field-well .tokenfield {
    min-height: 26px;
    box-shadow: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
}

.text-italic {
    font-style: italic;
}

.ed-btn {
    color: #000;
}

.ed-btn.small-btn {
    padding: 0 1em;
    min-width: 0;
}

.btn.modal-submit-btn {
    margin: 0 .5em .5em 0;
}

#editor {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  width: 100%;
}

.container.welcome-container {
    margin-top: 30px;
}

.well-popup {
    position: absolute;
    z-index: 4;
    right: 0;
}

/* Sidebar styling */
/* Animation efects from http://tympanus.net/Development/SidebarTransitions/ */
.mega-container {
    position: relative;
    overflow-x: hidden;
}

.page-container {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.page-container::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.side-menu-open .page-container::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 300px;
    height: 100%;
    background: #48a770;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.side-menu::after {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.side-menu-open .side-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Navbar element style */

.side-menu ul {
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

.side-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.side-menu ul li a {
    width: 300px;
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.side-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.side-menu ul li a:hover {
    background: rgba(0,0,0,0.2);
    color: #fff;
}

/* Effect style */

.side-effect.side-menu {
    visibility: visible;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.side-effect.side-menu-open .side-effect.side-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.side-effect.side-menu::after {
    display: none;
}

#menu-toggle-button {
    margin-top: 15px;
}

#menu-toggle-button i {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #menu-toggle-button {
        margin-top: 0;
    }

    #menu-toggle-button i {
        position: fixed;
        left: 15px;
        top: 15px;
        font-size: 30px;
    }
}

.default-paper {
    background-color: #FFFFFF;
}

.form-paper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

.form-container {
    padding: 2em;
}

span.mui-icon {
    font-size: 16px;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.form-input {
    display: block;
}

.form-group.button-row {
    margin-bottom: 0;
}