body {
  padding: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 75px;
}

a {
    color: #3f51b5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

div#editor {
    min-height: 250px;
}

.time {
    display: inline-block;
    padding-right: .75em;
}

.selector {
    display: inline-block;
    border-bottom: 0;
}

.header-tile {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.event-date {
    color: #888888;
    font-style: italic;
}

div#timeline-bar {
    position: absolute;
    width: 10px;
    height: 100%;
    left: -10px;
    top: 20px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,
        rgba(159,159,159,1) 10%,rgba(159,159,159,1) 90%,rgba(238,238,238,1) 100%
    );
}

div#timeline-hover {
    width: 14px;
    height: 14px;
    left: -2px;
    position: absolute;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    cursor: pointer;
}

div.event-arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 8px;
    transform: rotate(45deg);
    background-color: #FFF;
    box-shadow: -2.5px 3px 5px rgba(0,0,0,.16);
}