body {
  padding: 50px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 75px;
    overflow-x: hidden;
}

a {
    color: #3f51b5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

div#editor {
    min-height: 50px;
}

.time {
    display: inline-block;
    padding-right: .75em;
}

.selector {
    display: inline-block;
    border-bottom: 0;
}

.header-tile {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.event-date {
    color: #888888;
    font-style: italic;
}

div#timeline-bar {
    position: absolute;
    width: 8px;
    height: 100%;
    left: -15px;
    top: 20px;
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,
        rgba(159,159,159,1) 10%,rgba(159,159,159,1) 90%,rgba(238,238,238,1) 100%
    );
}

div.event-arrow {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 8px;
    transform: rotate(45deg);
    background-color: #FFF;
    box-shadow: -2.5px 3px 5px rgba(0,0,0,.16);
}

div.event-header {
    color: #888888;
    float: right;
    cursor: pointer;
    font-size: 14pt;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: 30px;
    display: inline-block;
}

.event-header i {
    padding: 5px;
    border-radius: 16px;
}

.event-header i:hover {
    background-color: #eeeeee;
}

.submit-button {
    margin: 0 0 0 .5em;
}

.navigation-button {
    height: 36px;
    font-size: 18pt;
    text-align: center;
    padding: 0 5px;
}

.navigation-button i {
    color: #333;
    line-height: 36px;
}

.float-right {
    float: right;
}

div.tokenfield.focus {
    box-shadow: none;
}

input#labels-tokenfield {
    box-shadow: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    min-height: 0;
}

div.nav-buttons-left-side {
    width: 75%;
    display: inline-block;
    text-align: left;
}

div.nav-buttons-right-side {
    width: 25%;
    display: inline-block;
    text-align: right;
}

.btn.small-btn {
    padding-left: 1em;
    padding-right: 1em;
}

.dropdown-menu.small-menu {
    min-width: 0;
}

/* Integration Modules */
.module {
    width: 200px;
}

.module img {
    width: inherit;
}

.module.module-inactive {
    cursor: pointer;
}

/* Dropbox color from: https://www.dropbox.com/branding */
.dropbox-module {
    background-color: #007ee5;
    border-radius: 3px;
    border: 1px solid #eceded;
}

.app-navigation {
    margin-top: 10px;
}

.well.well-sm.filter-field-well {
    margin-bottom: 0;
}

.filter-field-well .tokenfield {
    min-height: 26px;
    box-shadow: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
}

.text-italic {
    font-style: italic;
}

.btn.btn-default.ed-btn {
    color: #000;
}

.btn.modal-submit-btn {
    margin: 0 .5em .5em 0;
}

#editor {
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #757575;
  border-radius: 0;
  width: 100%;
}
