.alert-container
  if messages.errors
    for error in messages.errors
      script.
        setTimeout(function() {
          $.snackbar({content: "!{error.msg}", timeout: 3000});
        }, 300);
  if messages.info
    for info in messages.info
      script.
        setTimeout(function() {
          $.snackbar({content: "!{info.msg}", timeout: 3000});
        }, 300);
  if messages.success
    for success in messages.success
      script.
        setTimeout(function() {
          $.snackbar({content: "!{success.msg}", timeout: 3000});
        }, 300);
