extends ../layout

block content

  .page-header
    h1 Change Password
  .well.bs-component
    form.form-horizontal(action="/user/password" id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.form-group-material-indigo
        .col-sm-offset-3.col-sm-6
          input.form-control.floating-label(
            type='password', name='old_password', id='old_password', placeholder='Old Password')
      .form-group.form-group-material-indigo
        .col-sm-offset-3.col-sm-6
          input.form-control.floating-label(
            type='password', name='new_password', id='new_password', placeholder='New Password')
      .form-group.form-group-material-indigo
        .col-sm-offset-3.col-sm-6
          input.form-control.floating-label(
            type='password', name='confirm_password', id='confirm_password', placeholder='Confirm Password')
      .form-group.form-group-material-indigo
        .col-sm-offset-3.col-sm-6
          button.btn.btn-success(type='submit')
            span.ion-person-add
            | Change Password
